.ProjectCard {
    background: #171717;
    padding: 50px;
    border-radius: 20px;
    position: sticky;
    top: 100px;
    margin-bottom: 100px;
}

.ProjectCard:last-child {
    margin-bottom: 0;
    top: 0;
}

.projectImage {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 20px;
}

.projectImage img {
    width: 100%;
    max-height: 425px;
    transition: 0.5s ease-in-out;
    overflow: hidden;
}

.projectImage:hover img {
    transform: rotate(-5deg)scale(1.1);
    transition: 0.5s ease-in-out;
}

.projectDetails h5 {
    color: #fb4e4e;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-bottom: 5px;
    font-style: italic;
}

.projectDetails h3 {
    font-size: 42px;
}

.projectDetails p {
    margin-bottom: 20px;
}

.ProjectCard .ButtonBar {
    max-width: 175px;
}

.ProjectCard .buttonSection a {
    max-width: 175px;
}

.ProjectCard .buttonSection a:hover .ButtonBar::before {
    max-width: 175px;
}