.headingBar {
    height: 1px;
    color: #fff;
    background: #424242;
    width: 100%;
    position: relative;
}

    .headingBar::before {
        position: absolute;
        content: '';
        height: 1px;
        width: 0px;
        background: #fff;
        top: 0;
        transition: 1s ease-in-out;
    }

.headingSection label {
    position: absolute;
    right: 20px;
    bottom: 0;
    transform: translateY(0%);
    color: #fb4e4e;
    font-style: italic;
    letter-spacing: 0.5px;
}

.WrapperContainer:hover .headingBar::before {
    width: 100%;
    transition: 1s ease-in;
}

.ServiceAccordian .card {
    margin: 25px 0;
    border-radius: 20px !important;
    background: #171717;
    transition: 0.3s ease-in;
}

    .ServiceAccordian .card:hover {
        background-image: url('../../assets/images/vector/menuvector.png');
        background-size: cover;
        transition: 0.3s ease-out;
    }

    .ServiceAccordian .card:last-child {
        margin-bottom: 0px;
    }

.ServiceAccordian .card-header {
    border-bottom: 1px solid rgb(0 10 11);
}

    .ServiceAccordian .card-header div {
        display: flex;
        align-items: center;
    }

        .ServiceAccordian .card-header div button {
            color: #fff;
            font-size: 28px;
        }

        .ServiceAccordian .card-header div i {
            color: #fff;
        }

.ServiceAccordian .card .card-body p {
    /*color: #fff;*/
    padding: 16px 36px;
}

.ServiceAccordian .card .card-body i {
    color: #f4c430; /* or your brand accent color */
    margin-right: 8px;
    font-size: 1rem;
    opacity: 0.85;
}