.ManiHeader.fixed {
    position: fixed;
    top: 0px;
    margin: 0 auto;
    background: rgb(0 10 11 / 80%);
    backdrop-filter: blur(5px);
    animation: 0.5s ease-in-out fadeInDown2;
}

@keyframes fadeInDown2 {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-50%, 0%, 0);
        transform: translate3d(-50%, -100%, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: translate3d(-50%, 0%, 0);
        transform: translate3d(-50%, 0%, 0);
    }
}

.ManiHeader {
    position: absolute;
    z-index: 99;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 1px;
    min-height: 70px;
}

.logoSetScreen {
    margin-right: auto;
}

.logoSetScreen h2 {
    font-size: 32px;
    margin: 0;
}


/* Action Button */
.actionButton {
    cursor: pointer;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    display: flex;
    position: fixed;
    top: 10px;
    right: 20px;
    z-index: 1000;
}

.actionButton .LineWrapper {
    width: 100%;
    height: 2px;
    position: absolute;
    overflow: hidden;
    border-radius: 20px;
    background-color: #e9e9e9;
    transition: transform 0.4s ease;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.actionButton.active .LineWrapper:nth-child(1) {
    transform: translate(-50%, -50%) rotateZ(45deg);
}

.actionButton.active .LineWrapper:nth-child(2) {
    transform: translate(-50%, -50%) rotateZ(-45deg);
}


.actionButton .LineWrapper:nth-child(2) {
    transform: translate3d(-20px, 10px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
    transition: 0.3s;
}



/* Navbar Content */
.navbarContent {
    text-align: center;
}

.navbarContent a {
    display: block;
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    margin: 15px 0;
    transition: color 0.3s;
    opacity: 0;
    transform: translateY(10px);
    animation: linkFadeIn 0.4s ease-out forwards;
    animation-delay: calc(0.2s + var(--delay));
}

.navbarContent a:hover {
    color: #f4ac2c;
    /* Highlight color */
}

/* Keyframes */
@keyframes linkFadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}


.fullNavBar {
    border-bottom: 1px solid #868686;
    border-radius: 0 0 20px 20px;
    height: 100%;
    display: none;
    transform: translateY(20px);
    background: #020b0b;
    backdrop-filter: blur(10px);
    transition: 0.3s ease-in-out;
    padding: 25px 0;
    animation: fadeIn 1.5s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.open {
    display: block;
    transition: 0.3s ease-in-out;
    transform: translateY(0px);
    border-top: 1px solid;
}

.menuItem:hover {
    margin-left: 20px;
}

.menuItem {
    perspective: 1000px;
    justify-content: left;
    align-items: center;
    display: flex;
    position: relative;
    border-radius: 15px;
    padding: 15px 25px;
    overflow: hidden;
    transition: 0.3s ease-in-out;
}

    .menuItem:hover .service-item-overlay {
        opacity: 1;
        height: 100%;
        top: 0;
    }

    .menuItem .menuItemInner p {
        color: rgb(255, 255, 255);
        font-weight: 600;
        z-index: 1;
        letter-spacing: 2px;
        position: relative;
        font-size: 32px;
        transform-style: preserve-3d;
    }


.service-item-overlay {
    opacity: 0;
    pointer-events: none;
    background-image: url('../../assets/images/vector/menuvector.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 0%;
    position: absolute;
    top: 50%;
    left: 0px;
    transition: 0.5s;
    background-position: 50% center;
}
