.ContactSection {
    /* background-image: url('../../assets/images/vector/footer.png');
    background-position: right; */
    border-top: 1px solid #a3a3a34d;
}

.ContactSection:hover .headingSection h1 {
    letter-spacing: 3px;
    transition: 0.3s ease-in-out;
}


.headingSection {
    position: relative;
    margin-bottom: 50px;
}

.headingSection h1 {
    font-size: 78px;
    transition: 0.3s ease-in-out;
}

.headingSection h1 span {
    color: #fb4e4e;
}

.communicationBar {
    margin-bottom: 50px;
}

.communicationBar a {
    border: 1px solid #fff;
    border-radius: 50px;
    padding: 16px 28px;
    font-weight: 500;
    text-decoration: none;
    transition: color .3s, background-color .3s;
    color: #fff;
    letter-spacing: 0.5px;
}

.communicationBar a:hover {
    background-color: #fff;
    color: #000a0b;
}

.circle-link-separator {
    background-color: #fb4e4e;
    border-radius: 50px;
    width: 12px;
    height: 12px;
    margin: 0 25px;
}

.mysocials {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.mysocials a {
    font-size: 22px;
    color: #fff;
}

.websiteSignature {
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: center;
}

.websiteSignature p {
    font-size: 18px;
}

.back-to-top {
    width: 40px;
    height: 40px;
    position: fixed;
    right: 15px;
    bottom: 25px;
    background: #fb4e4e;
    color: #fff;
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    border: 1px solid #fb4e4e;
    cursor: pointer;
    z-index: 990;
    opacity: 0;
    transform: translateY(30px);
    pointer-events: none;
    transition: all 0.3s ease-in-out;
}

.back-to-top.show {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}