.testimonialDiv {
    background-image: url('../../assets/images/vector/testimonial.png');
    background-color: #171717;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 24px;
    padding: 50px;
}

.inner-testimonial p {
    font-size: 24px;
    margin-bottom: 20px;
    color: #fff;
}

.inner-testimonial h2 {
    font-size: 21px;
    font-style: italic;
    color: #d0d0d0;
    font-weight: 400;
}

/* Swiper Navigation Custom */
.testimonialDiv .swiper-button-prev,
.testimonialDiv .swiper-button-next {
    color: #fff;
}

.testimonialDiv .swiper-pagination-bullet {
    background: #fff;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    transition: 0.3s ease;
}

.testimonialDiv .swiper-pagination-bullet-active {
    background: #ffcc00;
    width: 35px;
}
