.individualSkill {
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    justify-content: center;
    align-items: center;
    /* width: 100%; */
    max-width: fit-content;
    padding: 20px 0;
    transition: max-width 1s;
    display: flex;
    position: relative;
    margin: auto auto 50px auto;
}

.individualSkill label,
.individualSkill h4 {
    margin: 0;
}

.individualSkill label {
    color: #d0d0d0;
    position: absolute;
    bottom: 0px;
    left: 0;
    font-size: 22px;
    transition: 0.5s ease-in-out;
}

.individualSkill h4 {
    font-size: 34px;
    color: #d0d0d0;
    transition: 0.5s ease-in-out;
}

.skillsBar {
    height: 1px;
    color: #d0d0d0;
    background: #d0d0d0;
    width: 500px;
    position: relative;
    transition: 0.5s ease-in-out;
}

.individualSkill:hover .skillsBar {
    width: 800px;
}

.individualSkill:hover label {
    color: #fff;
    transition: 0.5s ease-in-out;
}

.individualSkill:hover h4 {
    color: #fb4e4e;
    transition: 0.5s ease-in-out;
}